html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Promt', sans-serif;
  display: block;
  margin: 0;
  background-color: black;
  color: white;
}

  p {
    font-size: 20px;
    line-height: 125%;
  }
  li {
    font-size: 20px;
    line-height: 125%;
  }
h1 {
    font-size: 45px;
    font-weight: 700;
  }
h2 {
    font-size: 30px;
    line-height: 125%;
    text-align: center;
  }

  .aboutme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 100px;
    margin-bottom: 0px;
    gap: 30px;
  }

  .block1 {
    align-items: center;
    justify-content: space-between;
  }
  .why {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 100px;
    margin-bottom: 100px;
    gap: 30px;
  }

  img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
  }

  .imgstory {
    min-width: 30vh;
    max-width: 100vh;
  }

  .extra-p {
    font-size: 20px;
    text-align: center;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    z-index: 111;
    list-style: none;
    background-color: black;
    transition: 0.3s;
  }
  .menu__box li {
    display: flex;
    align-items: center;
    height: 40px;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
  }
  .menu__box a {
    color: white;
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    padding: 4px 8px;
    margin: 0px 4px;
    border: 0px solid transparent;
    background-color: transparent;
    transition: all 0.5s ease;
  }

  .menu__box a:hover {
    background-color: rgb(72, 39, 24);
  }

  /*  MENU  */
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  right: 100px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 111;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__item:hover {
  /*background-color: #CFD8DC;*/
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
  /*  MENU  */

  .navbar {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
  }
  .flag {
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 6px;
    background-color: #0066cc;
    border-bottom: 6px solid #ffcc00;
  }
  .logo {
    color: white;
    font-size: 25px;
    background-color: transparent;
    text-decoration: none;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .section {
    min-height: 60vh;
    padding-top: 64px;
  }

  .sectionportfolio {
    min-height: 60vh;
    padding-top: 64px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-item {
    flex-basis: calc(25% - 20px);
    margin: 10px;
  }

  .gallery img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .gallery a {
    display: flex;
  }

  .section.first {
    padding-top: 0px;
  }

  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    background-color: none;
  }
  .content {
    justify-content: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: rgb(0, 0, 0);
    opacity: 0.25;
    transition: all 0.5s ease;
  }

  .swiper:hover .swiper-button-next,
  .swiper:hover .swiper-button-prev {
    opacity: 1;
    color: rgb(0, 0, 0);
  }

  .swiper-pagination-bullets {
    background: white;
  }
